.idea/
target/
/.apt_generated/

.classpath

.factorypath

.checkstyle

.project

.settings/.jsdtscope

*.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.xml

*.container

*.name
# Created by .ignore support plugin (hsz.mobi)
